body {
    max-width: 960px;
    margin: auto;
    background-color:white;
    line-height: 20px;
    color: #343434;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #B94700;
}
a:hover{
    text-decoration: underline; 
}
li{
    margin: 1% 0%
}
img{
    max-width: 100%;
    margin: auto;
}


.header{
    position:fixed;top:0;right:0;left:0;
    max-width: 960px;
    height: 7%;
    margin: auto;
    padding-top: 1%;
    background-color: white;
    opacity: 0.97;
    border-width: 0px 0px 1px 0px; 
    border-style: solid;
    border-color: #dcdcdc;
    color: #343434;
}
.header a{
    font-weight: 100;
    color: #343434;
}
.header td{
    padding: 5px;
}
.pagecontent{
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 5%;
}

.contact{
    margin-top: 10%;
    text-align: center;
}

.content{
    line-height: 25px;
    padding: auto;
    margin-bottom: 2%;
}

.blog-content{
    max-width: 80%;
    margin: auto;
    line-height: 30px;
    padding: auto;
    margin-bottom: 2%;
}
.blog-content .subtitle{
    font-style: italic;
}
 
.footer{
    background-color: #343434;
    color: #adadad;
    margin: auto;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom:0;left:0;right:0;height:30px;
    font-size: small;
}
.footer a {
    color: #FAFAFA;
    font-weight: 100;
}


.profile-pic{
    width: 250px; height: 250px; 
    overflow: hidden; 
    border-radius: 50%;
    margin: auto;  
}

.project-card{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.project-card .title{
    font-weight: bold; margin-bottom: 1%;
    font-size: large;
    color: #343434;
}
.project-card table{
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 0px 0px 1px 0px;
}
.project-card td{
    vertical-align: top;
}
.project-card video{
    margin: auto;
    width: 100%;
    height: auto;
}
