<nav class="header">
    <table style="width: 100%;">
        <tr>
            <td>
                <div>
                    {% if page.title != "Sarthak | About" %}
                    <div style="float: left; font-size: x-large;"> 
                        <a href="/index.html" target="_self"><b>Sarthak </b>Kapoor</a>
                    </div>
                    {% endif %}
                    <div style="float: right;">
                        <table style="font-size: large;">
                            <tr>
                                <td style="vertical-align: bottom;"><a href="/" target="_self">About</a></td>
                                <td><a href="/projects.html" target="_self">Projects</a></td>
                                <td><a href="/blog.html" target="_self">Blog</a></td>
                                <!--<td><a href="/publications.html" target="_self">Publications</a></td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        
    </table>
</nav>

